body{
    background-color: aquamarine;
    display: auto;
    viewport-fit: auto;
    scrollbar-darkshadow-color: blueviolet;
    descent-override:top;
    margin: 3%;
    left: auto;
    perspective: 1cap;
}
div{
    background-color: aqua;
    border: 1cm;
    margin: auto;
    additive-symbols: -moz-element();
    align-self: start;
    -ms-high-contrast-adjust: auto;
    line-break:normal;
    margin-inline-start: 2%;
    nav-down: current;
    background-origin: padding-box;
    padding: 50px;
    
}
img{
    height: 300px;
    width: 300px;
    background-color: whitesmoke;
    margin-left: 500px;
}

h1{
    margin-left: 500px;
}
